<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentsMapper">
	<select id="getCommentsByPNum" parameterType="int" resultType="CommentsDTO">
		SELECT * 
		FROM comments 
		WHERE pNum=#{pNum} 
		ORDER BY cNum ASC
	</select>
	
	<select id="getCommentByCNum" parameterType="int" resultType="CommentsDTO">
		SELECT * 
		FROM comments 
		WHERE cNum=#{cNum}
	</select>
	
	<insert id="insertComments" parameterType="CommentsDTO">
		INSERT 
		INTO comments (pNum, cNum, userid, cContent, cDate)
		VALUES (#{pNum},comments_num.NEXTVAL,#{userid},#{cContent},SYSDATE)
	</insert>
	
	<update id="updateComment" parameterType="CommentsDTO">
		UPDATE comments 
		SET cContent=#{cContent}
		WHERE cNum=${cNum}
	</update>
	
	<delete id="deleteCommentByCNum" parameterType="int">
		DELETE
		FROM comments
		WHERE cNum=#{cNum}
	</delete>
</mapper>