<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FavoriteMapper">
	
	<select id="favoriteList" resultType="FavoriteDTO" parameterType="string">
	select *
	from
	favorite
	where userid = #{userid}
	</select>

	<select id="getFavorite" resultType="FavoriteDTO" parameterType="FavoriteDTO">
		select *
		from favorite
		where userid = #{userid} AND pNum=#{pNum}
	</select>

	<insert id="insertFavoite" parameterType="FavoriteDTO">
		insert
		into favorite (pNum, userid, pCategory, pTitle, pContent, pPrice, pImage, pHit)
		values (#{pNum},#{userid},#{pCategory},#{pTitle},#{pContent},#{pPrice},#{pImage},#{pHit})
	</insert>
	
	<delete id="deleteFavoite" parameterType="FavoriteDTO">
		delete
		from favorite
		where pNum=#{pNum} and userid=#{userid}
	</delete>
	
	<delete id="deleteFavoriteByPNum" parameterType="int">
		delete
		from favorite
		where pNum=#{pNum}
	</delete>
	
</mapper>