<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PostMapper">   
  


	
	<select id="postListByAddr" parameterType="string" resultType="PostDTO">
		select pNum,pCategory,pTitle,pContent,pPrice,pImage,pHit,pDate
       	from post
       	where addr = #{addr}
       	order by pDate desc 
	</select>
	
	<select id="postListAll" resultType="PostDTO">
       select *
       from post
       order by pDate desc 
	</select>	
	
	<select id="getPostByPNum" parameterType="int" resultType="PostDTO">
		select * 
		from post
		WHERE pNum=${pNum}
	</select>
	
	<delete id="deletePostByPNum" parameterType="int">
		delete 
		from post
		where pNum=${pNum}
	</delete>
	
	<insert id="newPost" parameterType="PostDTO">
		INSERT INTO post
		VALUES (#{pNum}, #{userid}, #{addr}, #{pCategory}, #{pTitle}, #{pContent}, #{pPrice}, #{pImage}
		,#{pHit}, SYSDATE )
	</insert>
</mapper>