<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TransactionMapper">
	
	<select id="purchaseList" resultType="PurchaseDTO" parameterType="string">
	select *
	from
	purchase
	where nickName = #{nickName}
	</select>
	
	<select id="saleList" resultType="SaleDTO" parameterType="string">
	select *
	from
	sale
	where nickName = #{nickName}
	</select>

</mapper>